.top-spacer{
  height: 50px;
  width: 100%;
}
.user-profile-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-profile-bio{
  margin: 0px auto;
  padding: 20px;
  width: 75%;
  min-width: 700px;
}
.user-profile-bio button{
  float: right;
  font-size: 1rem;
  margin: 10px 5px;
  background: white;
  color: #2AABE2;
  border: none;
  border-bottom: 2px solid #2AABE2;
  opacity: .7;
}
.user-profile-bio button:hover{
    opacity: 1;
}
.user-activity-timeline{
    margin: 0px auto;
  padding: 20px;
  width: 75%;
  min-width: 700px;
}
.user-activity-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-activity-header h1{
  font-size: 4.4rem;
  letter-spacing: .3rem;
  width: 40%;
  text-align: center;
  /*border-bottom: 2px solid rgba(0,0,0, .1);*/
  margin: 30px 0 20px 0;
}
.activity-post-id{
  position: absolute;
  top: -5px;
  right:  -5px;
  font-size: 1rem;
  padding: 5px 15px;
  background: #2AABE2;
  color: white;
  border: 2px solid #2AABE2;
  font-weight: 400;
  opacity: 1;
}
.user-activity-post{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid rgba(0,0,0, .3)
}
.user-activity-link{
  border-bottom: 2px solid rgba(0,0,0, .1);
  margin: 10px;
}
.user-activity-link a{
  color: #00597c;
  text-decoration: none;
}
.user-activity-image{
  width: 200px;
  height: 200px;
}
.user-activity-info{
  max-width: 600px;
}
.user-activity-info button{
  float: right;
  font-size: 1rem;
  margin: 10px 5px;
  background: white;
  color: #2AABE2;
  border: 2px solid #2AABE2;
}
.user-activity-info button:hover{
  font-size: 1rem;
  margin: 10px 5px;
  background: #2AABE2;
  color: white;
  border: 2px solid #2AABE2;
}
.user-activity-info h3{
  font-size: 3rem;
  margin: 0 0 5px -20px;
}
.user-profile-bio{
  margin-top: -20px;
  border-bottom: 2px solid rgba(0,0,0, .1)
}
.user-profile-bio h2{
margin: -10px -10px 10px 0;
}
.user-profile-bio h3{
margin: 20px -10px 10px -10px;
}
.user-profile-head{
  display:flex;
  align-items: flex-start;
  margin-top:0px;
  padding: 20px 20px 0px 20px;
}
.user-profile-head .profile-picture{
  width: 220px;
  height: 220px;
}
.user-profile-crossection{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  width:100%
}
.user-profile-crossection img{
  width: 25px;
  margin-left: 5px;
}

.h-three-badges-div{
  border-bottom: 2px solid rgba(0,0,0, .1);
  display: flex;
  align-items: center;
}
.user-profile-crossection h3{
  font-size: 1.2rem;
  border-bottom: 2px solid rgba(0,0,0, .1);
  margin-bottom: 5px;
  padding:3px;
}
.user-profile-crossection .h-three-badges{
  padding-top: 5px;
    display: inline-block;
      font-size: 1.2rem;
      font-weight: 400;
}
.user-profile-crossection .h-three-badges{
  border-bottom: none;
}
.user-profile-crossection button{
  float: right;
  font-size: 1rem;
  margin: 20px 5px;
  background: white;
  color: #2AABE2;
  border: 2px solid #2AABE2;
}
.user-profile-crossection button:hover{
  background: #2AABE2;
  color: white;
}
.h-three-badges-div img{
  width: 20px;
}
.badges-chevron{
  opacity: .5;
  transform: rotate(180deg);
  margin-top: -3px;
}
.badges-chevron:hover{
  opacity: 1;
}
.single-badge{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgba(	42,	171,	226, .2);
  border-radius: 3px;
  margin: 3px;
}
.single-badge:hover{
    background-color: rgba(	42,	171,	226, .5);
}
.single-badge span{
font-size: .8rem;
}
.user-profile-update{
  display: flex;
  flex-direction: column;
}
.user-profile-update button{
  width: 200px;
  font-size: 1rem;
  margin: 10px 5px;
  background: white;
  color: #2AABE2;
  border: 2px solid #2AABE2;
}
.user-profile-update button:hover{
  background: #2AABE2;
  color: white;
}
.company-profile-navbar{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  background: rgba(0,0,0, .1);
  width: 100%;
}
.company-profile-navbar ul{
  padding-top: 5px;
  margin-right: 10px;
}
.user-profile-crossection h1{
  display: inline-block;
  border-bottom: 2px solid rgba(0,0,0, .1)
}
.company-profile-navbar li{
  padding: 2px 15px 5px 15px;
  display: inline-block;
  border-bottom: 1px solid rgba(0,0,0, .0);
}
.company-profile-navbar li:hover{
  padding: 2px 15px 5px 15px;
  display: inline-block;
  border-bottom: 1px solid rgba(0,0,0, .3);
}

.current-user-progress{
  position: relative;
  width: 100%;
  height: 10px;
  background: #e3e3e3;
}
.current-user-progress div{
  background: #2AABE2;
  height: 10px;
}
.user-company-links {
font-size: 1rem;
margin-left: 20px;
padding: 0px 10px;
}
.user-company-links span{
  padding-left: 20px;
  display: inline-block;
  text-align: center;
}
.test{
  margin-bottom: 20px;
}
.user-company-links a{
  color: black;
  text-decoration: none;
}
.user-company-links:hover{
  background-color: rgba(0,0,0, .05);
  color: rgba(0,0,0, .7)
}
.user-company-box{
padding: 2px 0px 5px 0px;
  background: #f1f1f1;
}
