@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 300;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.3rem;
}
h3{
  font-size: 1.7rem;
}
video {
  width: 100%;
}
.fullscreen-bg{
  position: relative;
}
.video-overlay{
  text-transform: uppercase;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0, .5);
}
.video-overlay h3{
  letter-spacing: 2rem;
  padding-left: 26px;
  margin-bottom: 10px;
}
.nav-bar li{
  color: white;
  text-transform:capitalize;
  display: inline-block;
  margin-right: 20px;
  font-size: .8rem;
}
.nav-bar li:hover{
  opacity: .8;
}
.nav-bar{
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #262626;
  height: 50px;
  border-bottom:1px solid #00AEEF;
}
.video-section-widgets{
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  WIDTH: 100%;
  height: 85px;
  background-color: rgba(255,255,255, .5);
}
.video-section-widgets div:first-child{
  margin-right: 85px;
}
.video-section-widgets span{
  font-size: .9rem;
  font-weight: 200;
  padding: 10px;
}
.video-section-widgets button{
  font-size: 1rem;
  border: 1px solid rgba(255,255,255, .5);
  background-color: #2AABE2;
  padding: 10px 40px;
  color: white;
  border-radius: 2px;
}
.video-section-widgets button:hover{
  color: #2AABE2;
  background-color: white;
}
.funnel-options-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.funnel-options-section h1{
  font-size: 4rem;
  padding-top: 40px;
}
.funnel-options-section span{
  padding-top: 10px;
  padding-bottom: 40px;
  width: 500px;
  text-align: center;
}
.funnels{
  display: flex;
}
.funnel-option:first-child{
    margin-left: 0px;
}
.funnel-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin-left: 40px;
  border-radius: 15px;
  margin-bottom: 50px;
  transition: all 1s;
}
.funnel-option:hover{

  background: rgba(6,	171,	242, .09)
}
.funnel-option span{
  margin-top: -18px;
  opacity: .5;
  font-size: .8rem;
}
.funnel-option span:hover{
  opacity: 1;
}
.funnel-option h3{
  padding: 20px;
}
.funnel-option h3{
  font-size: 1.1rem;
}
.funnel-option img{
  width: 150px;
}
.featured-projects-section{
  height: 100vh;
    background: rgba(6,	171,	242, .1);

}
.featured-projects-section{
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.featured-projects-section #subheader{
  width: 600px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.2rem;
}
.project-catigory{
  display: flex;
  align-items: center;
}
.project-catigory h3{
 font-weight: 400;
}
.project-cat-img{
  width: 80px;
  height: 70px;
  background-position: left center;
  background-size:cover;
  margin: 20px;
  border-radius: 5px;
  border: 2px solid rgba(6,	171,	242, 1)
}
.project-img-one{
    background-image: url('../img/css-img.jpeg');
}
.project-img-two{
    background-image: url('../img/angularjs.png');
}
.project-img-three{
    background-image: url('../img/js.png');
}
.project-img-four{
    background-image: url('../img/create-icon.png');
}
