<div ng-controller="mainController">
<section class="user-profile-section">
<div class="top-spacer"></div>
<div class="company-profile-navbar">
  <ul>
    <li>Projects</li>
    <li>Students</li>
    <li>inbox </li>
  </ul>
</div>
<section class="user-profile-head">
    <div class="profile-picture" style="background: url('{{currentUser.profileImage}}'); background-size:cover; background-position: center center;"></div>

  <div class="user-profile-crossection">
    <div>
      <h1> {{currentUser.name}}</h1>
      <div class="user-profile-update">
        <!-- <button>Update Profile</button> -->
      </div>
      <h3>DevMountain: <a>{{currentUser.studentsReport}} Students</a></h3>
      <h3>Projects Posted: {{currentUser.ProjectsPosted}}</h3>
      <h3 class="test">Project Completions: {{currentUser.ProjectsCompleted}}</h3>
      <!-- <h3 class="progress-title">Class Progress: {{currentUser.progress}}%</h3>
      <div class="current-user-progress">
        <div style="width: {{currentUser.progress}}%"></div>
      </div> -->
      <button>New Project</button>
      <button>{{currentUser.name}}'s Projects</button>
    </div>
  </div>
</section>

<section class="user-profile-bio">
  <h2>Excelence in Design</h2>
  <span>Squashy armchairs dirt on your nose brass scales crush the Sopophorous bean with flat side of silver dagger, releases juice better than cutting. Full moon Whomping Willow three turns should do it lemon drops. Locomotor trunks owl treats that will be 50 points, Mr. Potter. Witch Weekly, he will rise again and he will come for us, headmaster Erumpent horn. </span>
</section>

</section>
</div>
