<section class="signup-section signup-section-1" >
  <div class="video-overlay-2"></div>
  <div id="discover-text-banner">
    <h1>DISCOVER <span>MORE</span></h1>
  </div>
  <div class="signup-banner">
    <h1> Signup Free</h1>
    <span>and discover more</span>
  <div class="studentGetSection">
    <div class="signUpBox">
      <div>
        <!-- <span>Sign up with:</span> -->
        <button ui-sref="sSignUp" class="EmployerSignUpButton" ng-click="">Students</button>

      </div>
      <div>
        <!-- <span>Sign up with:</span> -->
        <button ui-sref="eSignUp" class="EmployerSignUpButton" ng-click="">Employers</button>
      </div>
    </div>
  </div>
  </div>
</section>
