
    <section class="signup-section" >

      <!-- <textarea id="mainText" placeholder="enter test here..."></textarea>
      <button id="submitButton" onClick="submitClick()">Push test</button> -->

      <div class="studentGetSection">
        <!-- <input type="test" ng-model="student.name"><br>
        <input type="test" ng-model="student.lastName">
        <button ng-click="getStudent()">get student</button>
        <h1>{{gotStudent}}</h1>
        <h3> {{gotStudentHome}}</h3>
        <span>{{gotStudentId}}</span> -->

        <div class="signinBox">
        <input class="" placeholder="email..." type="test" ng-model="userAccount.email"><br>
        <input class="" placeholder="password..." type="password" ng-model="userAccount.password">
        <!-- <div ng-model="githubUser"></div> -->
        <button class="signinButton" ng-click="getUser(userAccount)">Sign in</button>
        </div>






      </div>

    </section>
