<section class="signup-section signup-section-2" >
  <div class="video-overlay-2"></div>
  <div id="discover-text-banner">
    <h1>DISCOVER <span>SUCCESS</span></h1>
  </div>
  <div class="signup-banner">
    <h1>Student Signup</h1>
    <span>Sign up with</span>
  <div class="studentGetSection">
    <div class="signUpBox">
      <div>
        <!-- <span>Sign up with:</span> -->
        <button class="EmployerSignUpButton" ng-click="getUser(userAccount)">LinkedIn</button>
        <span>(prefered)</span>
      </div>
      <div>
        <!-- <span>Sign up with:</span> -->
        <button ui-sref="createProfile" class="EmployerSignUpButton" ng-click="getUser(userAccount)">Discover</button>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- <section class="home-student-section">
  <h1>Students</h1>
  <div class="student-section-all">
    <div class="student-section-info">
      <h2>Student Tools</h2>
      <div class="student-info-paragraphs">
        <div>
          <h3>Employer specific Projects</h3>
          <span> Hedwig Daily Prophet treacle tart full-moon Ollivanders You-Know-Who cursed. Fawkes maze raw-steak Voldemort Goblin Wars snitch Forbidden forest grindylows wool socks.</span>
        </div>
        <div>
          <h3>Integrated Portfolios</h3>
          <span> Hedwig Daily Prophet treacle tart full-moon Ollivanders You-Know-Who cursed. Fawkes maze raw-steak Voldemort Goblin Wars snitch Forbidden forest grindylows wool socks.</span>
        </div>
        <button class="home-student-cta">Create Account</button>
      </div>
    </div>
    <div class="student-section-image">
      <img src="../img/student-girl.jpg">
    </div>
  </div>
</section>
<section class="home-class-parallax parallax-two ">
  <div class="class-parallax-overlay">
    <div>
    <h1>Discover. Test. Connect. Make Bank.</h1>
    </div>
  </div>
</section> -->
