<section class="signup-section signup-section-2" >
  <div class="video-overlay-2"></div>
  <div id="discover-text-banner">
    <h1>DISCOVER <span>SUCCESS</span></h1>
  </div>
  <div class="signup-banner">
    <h1>Student Signup</h1>
    <span>Sign up with</span>
  <div class="studentGetSection">
    <div class="signUpBox">
      <!-- <div>
        <button class="EmployerSignUpButton" ng-click="getUser(userAccount)">LinkedIn</button>
        <span>(prefered)</span>
      </div> -->
      <div>
        <button ui-sref="createProfile" class="EmployerSignUpButton" ng-click="getUser(userAccount)">Devmountain Discover</button>
      </div>
    </div>
  </div>
  </div>
</section>
